@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.imagen {
  height: 100vh;
  background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-black-and-white-wavy-background-picture-image_1172945.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.capa-imagen {
  height: 100vh;
  background: rgba(20, 20, 20, 0.89);
}

.calculadora {
  /* calculadora */


  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 31.7312px;
  gap: 31.73px;

  position: absolute;
  width: 372.05px;
  height: 552.12px;
  left: calc(50% - 372.05px/2 - 1.19px);
  top: calc(50% - 552.12px/2 + 7.93px);

  background: #000000;
  backdrop-filter: blur(6.34623px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15.8656px;
}

.panel {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 18px;

  width: 308.59px;
  height: 68.22px;

  background: rgba(67, 67, 67, 0.39);
  border-radius: 7.93279px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.texto-panel {

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44.4236px;
  line-height: 54px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecla {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 388.71px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.fila1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 68.22px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.fila2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 68.22px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.fila3{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 68.22px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.fila4{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 68.22px;


  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.fila5{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11.9px;

  width: 308.59px;
  height: 68.22px;


  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}

.tecla-blanca {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 68.22px;
  height: 68.22px;

  background: #D9D9D9;
  border-radius: 7.93279px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecla-blanca:hover {
  /**@apply transition duration-700 ease-in-out;**/
  background: #a4a4a4;
}

.color-negro{

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23.7984px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecla-azul {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 68.22px;
  height: 68.22px;

  background: #1758FF;
  border-radius: 7.93279px;
  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.tecla-azul:hover {
  background: #0036bd;
}

.color-blanco {

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23.7984px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecla-ploma {
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 68.22px;
  height: 68.22px;

  background: #434343;
  border-radius: 7.93279px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tecla-ploma:hover {
  background: #333333;
}

.tecla-azul-grande {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 148.34px;
  height: 68.22px;

  background: #1758FF;
  border-radius: 7.93279px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.tecla-azul-grande:hover {
  background: #0036bd;
}

.tecla-azul-grande:active {
  @apply transition delay-300;
  background: #1758FF;
}

